.displayImage{
    width: 100%;
    border: 2px solid black
    }

.itemCard{
    width: 200px;
border: 3px solid lightgray;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
margin: 10px;

}

.App{
 display: flex;   
 flex-direction: row;
 flex-wrap: wrap;
}